/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Link container styles */
.links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Link styles */
.link {
    margin: 10px;
    font-size: 2vw;
    text-decoration: none;
    color: blue;
    transition: color 0.3s ease;
}

.link:hover {
    color: darkblue;
}

/* Responsive font size */
@media (min-width: 768px) {
    .link {
        font-size: 24px;
    }
}
